# Global : ~/.gitconfig
# This is Git's per-user configuration file.
# This is not the system config, which would be located, /etc/gitconfig

[user]
  name = hug5
  email = dhub2@gmx.com
# Please adapt and uncomment the following lines:
# name = h5
# email = h5@hubm.(none)
[core]
  editor = vim
#  excludesfile = /home/h5/.gitignore_global
[credential]
  helper = store

[alias]

  s  = status
  ss = status --short

  lp   = log --oneline
  l    = log --pretty=\"%C(blue)%h  %C(yellow)%as %C(brightGreen)(%cr)%x09 %C(white)%an %C(magenta)%s%C(red)%d\"
  lr   = log --pretty=\"%C(blue)%h  %C(yellow)%as %C(brightGreen)(%cr)%x09 %C(white)%an %C(magenta)%s%C(red)%d\" --reverse
  la   = log --pretty=\"%C(blue)%h  %C(yellow)%as %C(brightGreen)(%cr)%x09 %C(white)%an %C(magenta)%s%C(red)%d\" --all
  ldg  = log --pretty=\"%C(blue)%h  %C(yellow)%as %C(brightGreen)(%cr)%x09 %C(white)%an %C(magenta)%s%C(red)%d\" --decorate --graph
  ldga = log --pretty=\"%C(blue)%h  %C(yellow)%as %C(brightGreen)(%cr)%x09 %C(white)%an %C(magenta)%s%C(red)%d\" --decorate --graph --all
  lm   = log master --pretty=\"%C(blue)%h  %C(yellow)%as %C(brightGreen)(%cr)%x09 %C(white)%an %C(magenta)%s%C(red)%d\"

  b  = branch -v
  bs = branch -v --sort=-committerdate
  aa = add --all
  cm = commit --message
  ca = commit --amend --no-edit
  cma = commit --amend --message
  c = checkout
  spu = stash push -u
  spum = stash push -um
  sl = stash list
  cfl = config --list
  cfa = config --get-regexp ^alias

  [help]
    autocorrect = 0   # Disable it; was 50;

